<div class="product-item text-center">
    <center>
        <div class="col-md-9">
        <a href="{{ path('product', {'slug': product.slug})}}"><img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid"></a>
    </div>
    </center>
    <h4>{{product.name}}</h4>
    <span class="product-subtitle">{{ product.subtitle }}</span>
    <span class="product-price">{{ (product.price / 100)|number_format(2, ',', '.') }} TD</span>
</div>